# Problem Statement 2

# Question 1

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b() // a value will be 2 after this statement

In [3]:
b() // a valuse would be increased by 2 and becomes 4

In [4]:
b() // a value further increases by 2 and becomes 6

In [5]:
a // print a value

6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [12]:
#Q2 answer
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File",file_name,"not found error")

In [13]:
fileLength('idterm.py')

File idterm.py not found error

# Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

In [4]:
#Q3 answer

class Marsupial:
    def __init__(self):
        self.pouch = []    
    def put_in_pouch(self, val):        
        self.pouch.append(val)    
    def pouch_contents(self):        
        print(self.pouch)
        
m = Marsupial()  
m.put_in_pouch("doll")    
m.put_in_pouch("firetruck")    
m.put_in_pouch("kitten")    
m.pouch_contents()

    
class Kangaroo(Marsupial):
    def __init__(self, x, y):        
        super().__init__()        
        self.coordx = x        
        self.coordy = y    
    def jump(self, dx, dy):        
        self.coordx = self.coordx + dx        
        self.coordy = self.coordy + dy    
    def __str__(self):       
        print("I am a Kangaroo located at coordinates (%d, %d)" %(self.coordx, self.coordy))
        return " "
k = Kangaroo(0,0)
print(k)
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0, 0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [3]:
#Q4 answer
def collatz(x):
    lst=[] 
    
    while (x!=1) :
        lst.append(x) 
       
        if (x%2==0) :   
            x=x//2
        else:
            x=(3*x)+1    
    lst.append(1)    
    length=len(lst)

   
    for i in range(0,length):
        print(lst[i])

collatz(10)

10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [5]:
#Q5 answer
def binary(number):
    
    if number == 0:
        return 0
                  
    else:
        return (number % 2 + 10 *binary(int(number // 2))) 
binary(0)
binary(1)
binary(3)
binary(9)

1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

In [6]:
#Q6 answer
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    h1Found = False
    h2Found = False
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.h1Found = True
        elif tag == "h2":
            self.h2Found = True
    def handle_data(self, data):
        if self.h1Found:
            print(data)
        if self.h2Found:
            print('\t'*1 + data)
    def handle_endtag(self, tag):
        if tag =="h1":
            self.h1Found = False
        elif tag == "h2":
            self.h2Found = False

hp = HeadingParser()
file = open('w3c.html')
html = file.read()
file.close()
hp.feed(html)

W3C Mission
	Principles

# Question 8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [21]:
import sqlite3
con=sqlite3.connect('MyData.db')
cur=con.cursor()

cur.execute('create table World(City text,Country text,Season text,Temprature FLOAT,Rainfall FLOAT );');
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Mumbai","India","Winter",24.8,5.9);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Mumbai","India","Spring",28.4,16.2);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Mumbai","India","Summer",27.9,1549.4);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Mumbai","India","Fall",27.6,346.0);')

cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("London","United Kingdom","Winter",4.2,207.7);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("London","United Kingdom","Spring",8.3,169.6);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("London","United Kingdom","Summer",15.7,157.0);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("London","United Kingdom","Fall",10.4,218.5);')

cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Cairo","Egypt","Winter",13.6,16.5);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Cairo","Egypt","Spring",20.7,6.5);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Cairo","Egypt","Summer",27.7,0.1);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Cairo","Egypt","Fall",22.2,4.5);')
for row in cur.execute('SELECT * FROM WORLD;'):
        print(row)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [10]:
#a 
for row in cur.execute('SELECT Temprature FROM World;'):
   print(row)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [11]:
#b
for row in cur.execute('SELECT DISTINCT City FROM World;'):
    print(row)

('Mumbai',)
('London',)
('Cairo',)

In [12]:
#c
for row in cur.execute('SELECT * FROM World WHERE Country = "India";'):
    print(row)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [13]:
#d
for row in cur.execute('SELECT * FROM World WHERE Season = "Fall";'):
    print(row)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [14]:
#e
for row in cur.execute('SELECT City,Country,Season FROM World WHERE Rainfall BETWEEN 200 AND 400;'):
    print(row)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [15]:
#f
for row in cur.execute('SELECT City,Country FROM World WHERE Season = "Fall" AND Temprature > 20 ORDER BY Temprature;'):
    print(row)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [16]:
#g
for row in cur.execute('SELECT SUM(Rainfall) FROM World WHERE City = "Cairo";'):
    print(row)

(27.6,)

In [17]:
#h
for row in cur.execute('SELECT Season, SUM(Rainfall) FROM World GROUP BY Season;'):
    print(row)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# Question 9

Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [18]:
# Q9 answer

words=["The","quick","brown","fox","jumps","over","the","lazy","dog"]

#a Upper case conversion
Uppercase=[text.upper() for text in words]
print(Uppercase)
print("\n")

#b lower case conversion
Lowercase=[text.lower()for text in words]
print(Lowercase)
print("\n")

#c length of words
lengthofw=[]
for a in words:lengthofw.append(len(a))
print(lengthofw)
print("\n")

#d

initializeCounterValue=0
singleListArray=[]
for j in words:
    singleListArray.append(Uppercase[initializeCounterValue])
    singleListArray.append(Lowercase[initializeCounterValue])
    singleListArray.append(lengthofw[initializeCounterValue])
    initializeCounterValue=initializeCounterValue+1
    
delimiterVariableLimit=3
myarray=[singleListArray[additor:additor+delimiterVariableLimit] for 
additor in range(0,len(singleListArray),delimiterVariableLimit)]
print(myarray)
print("\n")

#e
def wordString(k,str):
    string=[]
    text=str.split(" ")
    for x in text:
        if len(x)>=k:
            string.append(x)
    return string
result_list=[''.join([str(c) for c in t]) for t in words]
result_string=' '.join(result_list)
charlen=4
print(wordString(charlen,result_string))

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


[3, 5, 5, 3, 5, 4, 3, 4, 3]


[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


['quick', 'brown', 'jumps', 'over', 'lazy']